# Conexão com o banco Neon PostgreSQL
DATABASE_URL="postgresql://user:password@ep-sample-neon.region.aws.neon.tech/neondb?sslmode=require"

# Porta do Servidor Express
PORT=3001

# Token do Apify
APIFY_TOKEN=

NODE_ENV=development
